
  <div class="app-main">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>Tạo bài viết mới
          </div>
        </div>
        <div class="page-title-actions">
        </div>
      </div>
      <div>
        <div class="main-card mb-3 card">
          <div class="card-body">
            <form *ngIf="formCreatePost" [formGroup]="formCreatePost" (ngSubmit)="createPost()">
              <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label">Tiêu đề</label>
                <div class="col-sm-10">
                  <input name="title"  type="email" class="form-control" formControlName="title"  >
                </div>
<!--                <div *ngIf="title?.touched && title?.invalid" class="text-danger">-->
<!--                  <p *ngIf="title?.errors?.required">-->
<!--                         Không được để trống-->
<!--                  </p>-->
<!--                </div>-->
              </div>
              <div class="position-relative row form-group">
                <label  class="col-sm-2 col-form-label">Mô tả ngắn</label>
                <div class="col-sm-10">
                  <input name="password" type="text" class="form-control" formControlName="desc">
                </div>
              </div>
              <div class="position-relative row form-group">
                <label  class="col-sm-2 col-form-label">Nội dung</label>
                <div class="col-sm-10">
                  <textarea name="text" class="form-control" formControlName="_content"></textarea>
                </div>
              </div>
              <div class="position-relative row form-group">
                <label for="exampleSelect" class="col-sm-2 col-form-label">Thể loại</label>
                <div class="col-sm-10">
                  <select  name="select" id="exampleSelect" formControlName="category_id" class="form-control">
                    <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                  </select>
                </div>
              </div>
              <div class="position-relative row form-group">
                <label for="exampleSelect" class="col-sm-2 col-form-label">Chế độ</label>
                <div class="col-sm-10">
                  <select name="select"  formControlName="access_modifier" class="form-control">
                    <option value="0" selected>Công khai</option>
                    <option value="1">Riêng tư</option>
                  </select>
                </div>
              </div>
              <div class="position-relative row form-group"><label  class="col-sm-2 col-form-label">Ảnh</label>
                <div class="col-sm-10">
                  <input name="image"  id="file" type="file" (change)="onFileSelected($event)" autocomplete="off" class="form-control-file">
                </div>
              </div>
              <div class="position-relative row form-check">
                <div class="col-sm-10 offset-sm-2">
                  <button class="btn btn-secondary" type="submit">Tạo mới</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
        </div>


