.my-navbar {
  background-color: #0a3c93 !important;

}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
  color: white !important;
}
.granimate {
  background-color: #2ecc71;
  animation: hue 5s linear 0s infinite reverse;
}
.granimate::before {
  background: linear-gradient(105deg, rgba(255, 190, 0, 0), #ffbe00);
  animation: hue 6s linear 1s infinite;
}

@keyframes hue {
  to {
    filter: hue-rotate(1turn);
  }
}
.add {
  border: none;
}
