

<H2 >
  <button class="but granimate"> Tác giả: {{posts[0].user.name}} </button>
</H2>

<nz-card nzTitle="" style="width:100%;" >
  <p style="font-size:14px;color:rgba(0, 0, 0, 0.85);margin-bottom:16px;font-weight: 500;">Thông Tin Cá Nhân</p>
  <div class="row">
    <div class="col-md-2">
      <img *ngIf="!posts[0].user.image" src="https://www.w3schools.com/bootstrap/paris.jpg" class="img" alt="Cinque Terre"   >
      <img *ngIf="posts[0].user.image" src="{{posts[0].user.image}}" class="img" >
    </div>
    <div class="col-md-4">
      <span>Họ và Tên: {{posts[0].user.name}}</span> <br>
      <span> Số Bài Viết: {{total}} </span><br>
      <span>Ngày tạo tài khoản: {{posts[0].user.created_at |  date: 'short'}}</span><br>
      <span>Bài viết đầu tiên: {{posts[0].created_at |  date: 'short'}}</span><br>
        <span> Địa chỉ email: {{posts[0].user.email}}</span><br>
    </div>
  </div>
  <nz-card  *ngFor="let post of posts" class="title_post" nzType="inner" nzTitle="{{post.title}}   " >
    <div class="row">
      <div class="col-3">

        <img *ngIf="!post.image" src="https://www.w3schools.com/bootstrap/paris.jpg" class="img" alt="Cinque Terre"   >
        <img *ngIf="post.image" src="{{post.image}}" class="img" >

      </div>
      <div class="col-9">
        <nz-card>
          <a>{{post.content| slice: 0: 600}}</a>
          <a [routerLink]="['/detail',post.id]"> <button  class="btn btn-sm btn-outline-secondary " >   Đọc Tiếp </button></a>
        </nz-card>
      </div>
    </div>
  </nz-card>

</nz-card>


