<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="https://i.imgur.com/O1RmJXT.jpg" width="90"><span class="font-weight-bold">John Doe</span><span class="text-black-50">{{users.email}}</span><span>{{users.address}}</span></div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h6 class="text-right">Cập nhật thông tin</h6>
        </div>
        <form *ngIf="formEditUser" [formGroup]="formEditUser" (ngSubmit)="editProfile()" class="form-group">
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">Tên</label>
            <input type="text" class="form-control" formControlName="name"></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12"><label class="labels">Điện thoại</label><input type="text" class="form-control" formControlName="phone"></div>
          <div class="col-md-12"><label class="labels">Địa chỉ</label><input type="text" class="form-control" formControlName="address"></div>
        </div>
        <div class="mt-5 text-center">
          <button class="form-group" type="submit">Cập nhật</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
