<div class="container rounded bg-white mt-5 mb-5">

  <div class="row">
    <div class="col-md-3 border-right">
      <form>
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img class="rounded-circle mt-5"  src="{{users.image}}" width="200" height="200">
        <div class="position-relative row form-group">
          <div class="col-sm-10">
            <input name="image"  id="file" type="file" (change)="onFileSelected($event)" autocomplete="off" class="form-control-file">
          </div>
        </div>
        <button class="text-center" type="submit" (click)="uploadImage()">Up ảnh</button>
      </div>
      </form>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h6 class="text-right">Cập nhật thông tin</h6>
        </div>
        <form *ngIf="formEditUser" [formGroup]="formEditUser" (ngSubmit)="editProfile()" class="form-group">
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">Tên</label>
            <input type="text" class="form-control" formControlName="name"></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12"><label class="labels">Điện thoại</label><input type="text" class="form-control" formControlName="phone"></div>
          <div class="col-md-12"><label class="labels">Địa chỉ</label><input type="text" class="form-control" formControlName="address"></div>
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-dark" type="submit">Cập nhật</button>
        </div>
        </form>
      </div>
    </div>
  </div>

</div>
